# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

proj.android
proj.blackberry
proj.ios
proj.linux
proj.mac
proj.marmalade
proj.tizen
proj.winrt
proj.wp8
proj.wp8-xaml
